@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= KoHo & family= Satisfy & display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, #185dbe, #09a0a5 );
    min-width:300px;
}
header{
    position: relative;
}

nav{
    text-align: center;
    margin-top: -40px;

}
nav > a{
    border: 1px solid black;
    border-radius: 4px;
    margin: 3px;
    padding: 5px;
    background-color: bisque;
    color: black;

}
.cadastro{
    display: block;
    margin-left: auto;
    margin-top: -35px;
    margin-right: 15px;
    padding: 6px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 4px;
}
main{
    margin-top: 180px;
}
